# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# VS Code
.vscode/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/
Assets/AssetStoreTools*

# Unity autotest
[Aa]rtifacts/

# Addressables
ServerData/

# Android / IDE
.gradle/
*.apk
*.aab